<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Demo</title>
  </head>

  <body>
    <div class="container">
      <h1>Calling a Rust function in Node.js</h1>
      <p class="lead">Convert JPG to GrayScale</p>
      <form action="image" method="post" encType="multipart/form-data">
        <input name="image" type="file"/>
        <input name="submit" type="submit" value="submit">
      </form>
      <img src=<%= imgSrc %> />
</canvas>
    </div> <!-- /container -->
  </body>
</html>
